/* common */
#home_hotel_img{
    width: 99%;
    height: 63px;
    object-fit: cover;
}
#room_img{
    height: 60px;
    width: 70px;
    object-fit: cover;
    padding: 0;
}
/* tablet */
@media (min-width:768px) and (max-width:1020px) {
    #home_hotel_img{
        height: 80px;
    }
    #room_img{
        height: 90px;
        width: 120px;
        object-fit: cover;
    }
}
/* pc */
@media(min-width: 1020px) {
    #home_hotel_img{
        height: 130px;
    }
    #room_img{
        height: 160px;
        width: 180px;
        object-fit: cover;
    }
}
