/* common */
#comments{
    font-size: 12px;
    padding: 0;
}
#comments .card-body{
    background-color: lightgrey;
}
#comments i{
    font-size: 12px;
}
#display_stars_area{
    text-align: left;
}
.review_container {
    position: relative;
}
#trash_icon{
    position: absolute;
    right: 26px;
}
#trash_icon i{
    font-size: 12px;
}
#comment_content_area p{
    margin-left: 20px;
}

/* tablet */
@media (min-width:768px) and (max-width:1020px) {
    #comments{
        font-size: 18px;
    }
    #comments i{
        font-size: 18px;
    }
}

/* pc */
@media(min-width: 1020px) {
    #comments{
        font-size: 18px;
    }
    #comments i{
        font-size: 18px;
    }
    #trash_icon{
        right: 30%;
    }
}
